footer{
    font-family: $font-family;
    background-color: $color-principal;
    .footer{
        color: $color-font;
        width: 88%;
        max-width: 1930px;
        padding-bottom: 20px;
        margin: 0 auto;
        .social-media{
            a{
                img{
                    @include wh (60px, 60px);
                }
            }
            .whatsapp{
                position: fixed;
                right: 15px;
                bottom: 95px;
            }
            .instagram{
                position: fixed;
                right: 15px;
                bottom: 10px;
            }
        }
        .footer-placa{
            display: grid;
            grid-template-rows: 100%; 
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                "locales logo delivery";
            .locales{
                grid-area: locales;
                text-align: center;
                padding-top: 50px;
                h3{
                    font-size: 25px;
                    margin-bottom: 15px;
                }
                p{
                    margin-bottom: 12px;
                }
            }
            .logo-footer{
                grid-area: logo;
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    @include wh (300px, 150px);
                }
                p{
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
            .delivery{
                grid-area: delivery;
                text-align: center;
                padding-top: 50px;
                h3{
                    font-size: 25px;
                    margin-bottom: 15px;
                }
                a{
                    color: $color-font;
                    p{
                        margin-bottom: 12px;
                    }
                }
            }    
        }
    }
    .mapa{
        iframe{
            @include wh (92%, 300px);
            margin-left: 10px;
            border-radius: 10px;
        }
    }
}