header{
    background-color: $color-principal;
    height: 100px;
    font-family: $font-family;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1910px;
        margin: 0 auto;
        div{
            a{
                img{
                    padding-left: 10px;
                    width: 200px;
                    height: 100px;
                }
            }
        }
        ul{
            list-style-type: none;
            width: 100%;
            li{
                display: inline-block;
                margin-left: 90px;
                margin-bottom: 7px;
                &:nth-child(1){
                    margin-left: 55px;
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-font;
                    &:hover{
                        text-decoration: double overline;
                        color: $color-font;
                    }
                }
            }
        }
    }
}