@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Aldrich', sans-serif;
    width: 100%;
}